/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
}

.loader {
  height: 80px!important;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
article {
  max-width: 1180px;
  margin: auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

p.medium-text {
  font-size: 20px;
  color: #3d3d3d;
}

p.text {
  font-size: 18px;
  color: #3d3d3d;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  main,
  header, 
  footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 800px) {
  h1,
  h2,
  p {
    text-align: center;
  }
  main {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  p.medium-text {
    font-size: 16px;
  }
  p.text {
    font-size: 14px;
  }
  .splus-button {
    font-size: 15px;
  }
}
